.main-block {

    h4 {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: bold;
        color: #484848;
    }

    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: dashed 1px gainsboro;
}

.search-game {

    label {
        font-size: 16px;
        color: #005c7b;
        font-weight: bold;
    }

    input {
        font-size: 18px;
    }

    select {
        font-size: 18px;
    }

}

.list-games {

    a {
        text-decoration: none;
    }

    h5 {
        color: #484848;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
    }

    .card {

        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &:hover {

            cursor: pointer;
            background-color: gainsboro;

            img {
                opacity: 0.8;
            }
        }

        .badge-tag {
            color: white;
            background-color: #005c7b;

            &:nth-child(1) {
                background-color: red !important;
            }
        }

    }
}